.answer-text {
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0 2em;
  line-height: 2;
}

@media (max-width: 500px) {
  .answer-text {
    flex-direction: column;
  }
  p {
    max-width: 50vw;
    text-align: center;
  }

}
