.form-group {
  /*width: 60vw;*/
  margin: 2em auto;
  display: block;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.radio {
  margin: 0 1em;
}

@media (max-width: 500px) {
  form {
    width: 90vw;
    flex-direction: column;
    /*align-items: center;*/
    padding: 0 1em;
  }
  .radio {
    margin: .5em;
  }
  button {
    margin-top: .5em;
  }
}
